*{

    margin: 0;
    padding: 0;
}

video{

  width: 100%;
  max-width: 600px;
}

.imagen_anuncio{

  width: 100%;
  max-width: 600px;
}


.centrado{

  display:flex;
  justify-content: center;
}

.color_violeta{
  background-color: #4527A0;
}

.letra_Roboto{

  font-family: "Roboto";
}

.letra_Cookie{

  font-family: "Cookie";
}

.letra_Biryani{

  font-family: "Biryani";
}

.letra_Nunito{

  font-family: "Nunito Sans";
  font-size: 10px;
}

.barra_login{

  background-color:black;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  height: 3rem;
  padding-left: 2rem;

}

.iconomastexto{

  display:flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;

}

.iconomastexto p{

  padding-left: 1rem;
}

.seleccio_idioma{

  display: flex;
  justify-content:center;
  align-items: center;

}

.barra_login a{
  color: white;
  padding-left: 5px;
  padding-right: 5px;

}

.barra_menu{
  background-color: #4527A0;
  color: white;
  display:flex;
  justify-content: space-between;
  align-items: center;

}

.menu_estils_musicals{

  padding-right: 3rem;
}

.padding_izquierdo{

  padding-left: 3rem;
}

.menu_estils_musicals a{

  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.imagen_principal{

  background-image: url(../multimedia/img/fondo_principal.jpg);
  background-position: center center;
  background-size: cover;
}

.cuadre_cerca{

  width: 25rem;
  height: 2rem;
  font-size: 25px;
  font-family: "Cookie";
}

.cerca{
  width: 10rem;
  height: 2rem;
  font-size: 25px;
  font-family: "Cookie";
  font-weight: bold;
}

.contenidor_seccions{

  display:flex;
  margin-top: 2rem;
  background-color: rgba(245, 204, 204, 0.75);
  border-top: #4527A0 3px dotted;
}

.contenidor_seccions_articles{

  width: 67%;
  display: block;
  border-right: #4527A0 1px solid;
}

.seccio_articles{

  display:block;
  margin-bottom: 1rem;
  border-bottom: #4527A0 1px dotted;

}

.articles{

  display: flex;
  margin-right: 1rem;
}

.article_petit{
  margin-left: 1rem;
  margin-bottom: 2rem;
  width: 31%;
  border: 2px solid;
  border-color: #4527A0;
  border-bottom-right-radius: 10px;
  background-color: #f4f5bc;

}

.article_petit h2{

  font-size: 20px;
  padding-bottom: 1rem;
}

.article_gran{
  margin-left: 1rem;
  margin-bottom: 2rem;
  width: 43%;
  border: 2px solid;
  border-color: #4527A0;
  border-bottom-right-radius: 10px;
  background-color: #f4f5bc;
}

h2{
  text-align: center;
  text-decoration: underline;
  color: #70071a
}

h1{

  color: #4527A0;
}

.contenidor_seccions_no_articles{
  width: 33%;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.anuncis{

  display: block;
  margin-bottom: 1rem;
  border-bottom: #4527A0 1px dotted;

}

.anunci{

  display: inline;
  padding-bottom: 1rem;
}

.web_destacada{

  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.web{

  display: block;
  border: 2px solid;
  border-color: #4527A0;
  border-bottom-right-radius: 10px;

}

.web p{

  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: white;
}

.peu_web{

  background-color: black;
  color: white;
  display: block;
  padding-left: 10rem;
  padding-right: 3rem;
  font-size: 20px;
}

.peu_part_superior{

  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  height: 80%;
}

.peu_part_esquerra{

  display: block;
  width: 33%;

}

.barra_menu_parte_primera{

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.xarxes_socials{

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.xarxes_socials nav{

  align-items: center;
}

.xarxes_socials a{

  color: white;
  padding-right: 1rem;
}

.peu_part_central{
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: block;
  width: 34%;
  font-size: 15px;

}

.peu_part_central img{

  width: 100%;
  max-width: 300px;
  max-height: 300px;

}

.peu_part_dreta{

  text-align: center;
  width: 33%;

}

.peu_part_inferior{

  display: flex;
  justify-content: flex-start;
  padding-bottom: 2rem;
  height: 20%;
}

.peu_part_inferior a{

  color: white;
  text-decoration: none;
}

.boton{

  background-color: #4527A0;
  color: white;
  font-size: 20px;

}

.article_gran h2{

  margin-bottom: 1rem;
}
.boton_amarillo{

  background-color: #f4f5bc;
  color: #4527A0;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  padding: .5rem;
}

.borde_rojo{

  border: 3px solid;
  border-color: #70071a;
}

.boton_mes{


  display:flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-bottom: 1rem;

}

#idBoto{

  background-color: #f4f5bc;
  color: #4527A0;
}

#idBoto1{

  background-color: #f4f5bc;
  color: #4527A0;
}

.separacion{

  padding-right: 1rem;
}
